<form [formGroup]="form" (submit)="onLogin()">
  <mat-card>
    <h2>Login Your Account</h2>
    <div>
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="email"
          placeholder="Email">
      </mat-form-field>
      <mat-error *ngIf="form.get('email').touched && form.get('email').invalid">Please enter a valid email.</mat-error>
    </div>
    <div>
      <mat-form-field>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Password">
      </mat-form-field>
      <mat-error *ngIf="form.get('password').touched && form.get('password').invalid">Please enter a valid password.</mat-error>
      <mat-error *ngIf="wrongEmailPasswordCombination">Password and email don't match.</mat-error>

    </div>
    <div>
      <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">Login</button>
      <!-- <a (onclick)="onForgetPassword()" class="btn"><u>Forget your password?</u></a> -->
    </div>
  </mat-card>
</form>

