/* #loginForm {
  max-width: 50%;
  margin: auto;
  text-align: center;
}

#inputs {
  text-align: left;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */
h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

mat-card {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

mat-form-field {
  width: 60%;
}

textarea {
  width: 100%
}

input {
   width: 100%
}
