.companies-container {
  max-width: 60%;
  margin: 5%;
  margin-left: 0;
}

.left-container {
  max-width: 30%;
  margin: 5%;
  margin-right: 0;
}

.filters {
  margin: 30px;
}

app-company-item {
  margin: 15px;
  margin-top: 0;
}

agm-map {
  height: 300px;
  max-width: 300px;
}
