<form (submit)="onSignUp()" [formGroup]="form">
  <mat-card>
    <h1>Sign Up Your Account</h1>
    <div class="forms">
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="email"
          placeholder="Email">
      </mat-form-field>
      <mat-error *ngIf="form.get('email').dirty && form.get('email').invalid">Please enter a valid email.</mat-error>
      <mat-form-field>
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Password">
      </mat-form-field>
      <mat-error *ngIf="form.get('password').dirty && form.get('password').dirty &&form.get('password').hasError('minlength')">password should be at least 6 characters</mat-error>
      <mat-error *ngIf="form.get('password').dirty && form.get('password').hasError('required')">please input a password longer than 6 characters</mat-error>
      <mat-form-field>
        <input
          matInput
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm Password">
      </mat-form-field>
      <mat-error *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').value !== form.get('password').value">password does not match</mat-error>
      <mat-radio-group formControlName="type" matInput>
          <p>Are you signing up as a student or for a school?</p>
          <mat-radio-button value="student">Student</mat-radio-button>
          <mat-radio-button value="school">School</mat-radio-button>
      </mat-radio-group>
      <table *ngIf="form.get('type').value === 'student'">
        <tr>
          <td>
            <mat-form-field>
              <input
                matInput
                type="text"
                formControlName="firstName"
                placeholder="First name">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input
                matInput
                type="text"
                formControlName="lastName"
                placeholder="Last name">
            </mat-form-field>
          </td>
        </tr>
          <mat-error *ngIf="(form.get('firstName').touched && form.get('firstName').invalid) || (form.get('lastName').touched && form.get('lastName').invalid)">please enter your first name and last name</mat-error>
      </table>
      <mat-form-field *ngIf="form.get('type').value === 'student'">
          <input
            matInput
            type="text"
            formControlName="major"
            placeholder="Major">
      </mat-form-field>
      <mat-error *ngIf="(form.get('major').touched && form.get('major').invalid)">please enter your major</mat-error>
      <mat-form-field *ngIf="form.get('type').value === 'student'">
        <span matPrefix>+1 &nbsp;</span>
        <input
          type="tel"
          matInput
          formControlName="phone"
          placeholder="Telephone">
      </mat-form-field>

      <mat-form-field *ngIf="form.get('type').value === 'school'">
        <input
          matInput
          type="text"
          formControlName="schoolName"
          placeholder="School name">
      </mat-form-field>
      <mat-form-field *ngIf="form.get('type').value==='student'">
        <mat-select
          placeholder="Select your school"
          formControlName="selectedSchoolId">
          <mat-option *ngFor="let school of schools" [value]="school._id">{{ school.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">Sign Up</button>
  </mat-card>
</form>
