<div>
  <hr>
  <p *ngIf="isUserInfo">Career Fair: {{ talk.careerfair.name }}</p>
  <p>Company: {{ talk.company.name }}</p>
  <p>Location: {{ talk.location }}</p>
  <p>Date: {{ date }}</p>
  <p>Start Time: {{ startTime }}</p>
  <p>End Time: {{ endTime }}</p>

  <button mat-raised-button color="disabled" disabled *ngIf="!isScheduledByMe && isScheduled">Scheduled</button>
  <button mat-raised-button color="warn" *ngIf="isScheduledByMe"  (click)="onUnscheduleTalk()">Unschedule</button>
  <button mat-raised-button color="primary" *ngIf="!isScheduled" (click)="onScheduleTalk()">Schedule</button>
  <hr>
</div>
