  <mat-toolbar color="primary">
      <span>
        <a routerLink="/">Career Talk</a>
      </span>
      <span class="spacer"></span>
      <ul>
        <li *ngIf="isAuthenticated">
          <a mat-button routerLink="/careerfairs" routerLinkActive="mat-accent">Career Fairs</a>
        </li>
        <li *ngIf="isAuthenticated">
          <a mat-button routerLink="/scheduledtalks" routerLinkActive="mat-accent">Scheduled Talks</a>
        </li>
        <li *ngIf="!isAuthenticated">
          <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!isAuthenticated">
          <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
        </li>
        <li *ngIf="isAuthenticated">
          <a mat-button routerLink="/userinfo" routerLinkActive="mat-accent">
            <img [src]="avatarPath" alt="User">
            {{ user.firstName }}
          </a>
        </li>
        <li *ngIf="isAuthenticated">
          <button mat-button (click)="onLogout()">Log out</button>
        </li>
      </ul>
    </mat-toolbar>
