<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="company-header">
      <mat-panel-title>{{ company.name }}</mat-panel-title>
      <mat-panel-description>Location: {{ locationInCareerfair }}</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-tab-group>
      <mat-tab label="introduction">
        <strong>Introduction: </strong>
        <p>Address: {{ company.address }}</p>
        <p>{{ company.description }}</p>
        <p>E-mail: {{ company.email }}</p>
        <p><a href="{{ company.website }}">Click for more information</a></p>
      </mat-tab>
      <mat-tab label="talks">
        <app-talks [talks]="talks" [isUserInfo]="false"></app-talks>
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</mat-accordion>
