mat-card {
  height: auto;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}

mat-form-field {
  width: 100%;
}

textarea {
  width: 100%
}

input {
   width: 120%
}

mat-error {
  font-size: 0.6rem;
}

.forms {
  width: 60%;
  margin: auto;
  text-align: left;
  padding-left: auto;
}

.time-input {
  width: 4rem;
}

mat-list {
  height: auto;
}

li {
  height: 5rem;
}

.add-talk-item {
  height: auto;
  margin: auto;
}

.add-talk {
  text-align: center;
  margin: 20px;
}
